h1{
    color: red;

}
    .contenedor_0{
        display: flex;
        
        justify-content: center;
        
        
        background-color: rgb(113, 113, 117);
        
        
        height:500px ;
        border-radius: 20px;
    
    }

.contenedor_1{
    
    background-color: rgb(231, 218, 162);
    font-size: 24px;
    width: 800px;
    border-radius: 20px
    ;
}
 .fotos{
   
    width: 240px;
    height: 270px;
    border-radius: 15px;
    

} 
.contenedor_2{
    border-radius: 20px;
    align-self: center;
}

/* aqui empieza a segunda parte */
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.servicios{
    border: solid 5px blue;
    text-align: center;
   
    
}

.servicios-contenedor{
    border: solid red;
    display: flex;
    justify-content: center;
    gap: 20px;

}
.servicio{
    border: solid;
    background-color: rgb(208, 188, 211);
    text-align: center;
    
}

/* .servicios {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}
 */


/* Contenedor de Flexbox */
/* .servicios-contenedor {
    display: flex;
    justify-content: center;
    border: solid;
    gap: 40px;
    height: 250px;
}
 */

/* .servicio{

    background-color: #b7c0ee;
    border-radius: 8px;
    border: solid;

} */
/* Cada servicio */
/* .servicio {
    background-color: #d2d4df;
    border: 1px solid #ddd;
    border-radius: 8px;
     padding: 10px; 
    flex: 1 1 300px;
    
   
    text-align: left;
} */

.servicio h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.servicio p {
    font-size: 0.95em;
    color: #666;
    
}

